[client]
default-character-set=utf8

[mysqld]
# generic configuration options
port=1531
socket = /var/lib/mysql/mysql.sock

character_set_client_handshake = FALSE
character_set_server = utf8
collation_server = utf8_general_ci
init_connect = "SET collation_connection = utf8_general_ci"
init_connect = "SET NAMES utf8"

#innodb_file_format = barracuda
#innodb_file_format_max = barracuda
#innodb_large_prefix = on

# Lock wait timeout exceeded; try restarting transaction 해결볍
innodb_lock_wait_timeout = 240
transaction-isolation = READ-COMMITTED

query_cache_type = 1
query_cache_size = 10M
query_cache_min_res_unit = 2k

lower_case_table_names = 1
autocommit = 0
skip-name-resolve

[mysql]
no_auto_rehash
default-character-set=utf8

[mysqldump]
quick
max_allowed_packet = 16M
default-character-set=utf8
